$primary-btn-color: #ffd700;
$primary-hover-btn-color: #ddb900;
$primary-light-color: #598ef3;
$primary-dark-color: #2563eb;
$primary-bg-light-color: #cbd5e1;
$primary-bg-dark-color: #334155;
$primary-btn-back-color: #c0c0c0;
