@import "../styles/colors";

.layout {
  &--container {
    background-color: $primary-bg-light-color;
  }

  &--container--dark {
    background-color: $primary-bg-dark-color;
    color: #fff;
  }
  &--navbar {
    background-color: $primary-light-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 15px;
    color: black;
  }

  &--navbar--dark {
    background-color: $primary-dark-color;
    color: white;
  }

  &--login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-right: 15px;
  }
}
